body {
	margin: 0;
}

.colorOptionSelected {
	border: 3px solid black;
}

.colorOption:hover {
	cursor: pointer;
	border: 4px solid black;
}

.logoPreviewForm > path {
	stroke: none
}

.logoPreviewForm > circle {
	stroke: none
}

.baseFormOptionSelected > path {
	stroke: seagreen;
}

.baseFormOptionSelected > circle {
	stroke: seagreen;
}

.selectedForColoring > path {
	stroke: gray;
}

.selectedForColoring > circle {
	stroke: gray;
}

li {
	padding: 20px;
}

ol {
	margin: 0;
}
