body {
	margin: 0;
}

.colorOptionSelected {
	border: 3px solid black;
}

.colorOption:hover {
	cursor: pointer;
	border: 4px solid black;
}

.logoPreviewFormNoStroke > path {
	stroke: none
}

.logoPreviewFormNoStroke > circle {
	stroke: none
}

.logoPreviewFormNoStroke > rect {
	stroke: none
}

.baseFormOptionSelected > path {
	stroke: seagreen;
}

.baseFormOptionSelected > circle {
	stroke: seagreen;
}

.baseFormOptionSelected > rect {
	stroke: seagreen;
}

li {
	padding: 20px;
}

ol {
	margin: 0;
}
